@model List<Asignatura>

@{
    ViewData["Title"] = "Información Asignatura";
    Layout = "Simple";
}

<h1>@ViewData["Title"]</h1>

@foreach (var asignatura in Model)
{
    <partial name="ObjetoEscuelaSimple" model="asignatura"/>
}



<p>@ViewBag.Fecha</p>